@using Kendo.Mvc.UI
@using SpadCompanyPanel.Infrastructure.Helpers;

@{
    //ViewBag.Title = "خانه";
    Layout = "";
}

@*@Html.Action("HomeSlider", "Home")*@
@*<section class="ex-collection section-padding-special">
    <div class="container">*@
@*@Html.Action("Gallery", "Home")*@
@*@Html.Action("CompanyHistory", "Home")*@
@*</div>*@
@*@Html.Action("OurTeamSection", "Home")*@
@*@Html.Action("Testimonials", "Home")*@
@*</section>*@
@*@section Scripts {*@
@*@Scripts.Render("~/bundles/jqueryval")*@
@*}*@

<!DOCTYPE html>
<html lang="fa">

<head>
    <meta charset="utf-8" />
    <title>سید میلاد مظلوم</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="keywords" />
    <meta content="" name="author" />

    <!--[if lt IE 9]>
      <script src="/Content/client/js/html5shiv.js"></script>
    <![endif]-->
    <!-- CSS Files
    ================================================== -->

    <link href="/Content/client/css/fonts.css" rel="stylesheet" type="text/css" />
    <link href="/Content/client/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/Content/client/css/bootstrap.min.rtl.css" rel="stylesheet" type="text/css" />
    <link href="/Content/client/css/bootstrap-grid.min.css" rel="stylesheet" type="text/css" />
    <link href="/Content/client/css/bootstrap-reboot.min.css" rel="stylesheet" type="text/css" />
    <link href="/Content/client/css/animate.css" rel="stylesheet" type="text/css" />
    <link href="/Content/client/css/owl.carousel.css" rel="stylesheet" type="text/css" />
    <link href="/Content/client/css/owl.theme.css" rel="stylesheet" type="text/css" />
    <link href="/Content/client/css/owl.transitions.css" rel="stylesheet" type="text/css" />
    <link href="/Content/client/css/magnific-popup.css" rel="stylesheet" type="text/css" />
    <link href="/Content/client/css/jquery.countdown.css" rel="stylesheet" type="text/css" />
    <link href="/Content/client/css/style.css" rel="stylesheet" type="text/css" />
    <!-- color scheme -->
    <link id="colors" href="/Content/client/css/colors/scheme-01.css" rel="stylesheet" type="text/css" />
    <link href="/Content/client/css/coloring.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div id="wrapper">
        <div class="page-overlay">
            <div class="preloader-wrap">
                <div class="spinner">
                    <div class="bounce1"></div>
                    <div class="bounce2"></div>
                    <div class="bounce3"></div>
                </div>
            </div>
        </div>

        <!-- header begin -->
        <!-- Use any element to open the sidenav -->
        <span id="menuicon" style="position: fixed; top: 1%; left: 1%;color: black; z-index: 10000;" onclick="openNav()">
            <img src="https://img.icons8.com/windows/64/000000/menu-rounded.png" />
        </span>
        <header class="header-light transparent scroll-light">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="d-flex justify-content-between">
                            <div class="align-self-center header-col-left">
                                <!-- logo begin -->
                                <div id="logo">
                                    <a href="#section-hero"> سید میلاد مظلوم </a>
                                    <div id="mySidenav" class="sidenav">
                                        <a href="javascript:void(0)" class="closebtn text-white " onclick="closeNav()">&times;</a>
                                        <a class="text-white text-center" href="#section-about">بیو گرافی</a>
                                        <!-- <a class="text-white text-center" href="#section-services">جلسات</a> -->
                                        <a class="text-white text-center" href="#section-portfolio">گالری</a>
                                        <a class="text-white text-center" href="#section-blog">ویژگی ها</a>
                                        <a class="text-white text-center" href="#section-contact">تماس با من</a>
                                    </div>

                                </div>

                                <!-- logo close -->
                            </div>
                            <div class="align-self-center ml-auto header-col-mid d-sm-none d-md-block">

                                <!-- mainmenu begin -->
                                <ul id="mainmenu" class="scrollnav">
                                    <!-- <li>
                                      <a href="#section-hero" class="active">صفحه اصلی</a>
                                    </li> -->
                                    <li></li>
                                    <li><a class="navitems" href="#section-about">بیو گرافی</a></li>
                                    <li></li>
                                    <!-- <li><a class="navitems" href="#section-services"> جلسات </a></li> -->
                                    <li></li>
                                    <li><a class="navitems" href="#section-portfolio">گالری</a></li>
                                    <li></li>
                                    <li><a class="navitems" href="#section-blog">ویژگی ها</a></li>
                                    <li></li>
                                    <li><a class="navitems" href="#section-contact">تماس با من</a></li>
                                    <li></li>

                                </ul>


                                <!-- mainmenu close -->
                            </div>


                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- header close -->
        <script>
            function openNav() {
                document.getElementById("mySidenav").style.width = "250px";
                document.getElementById("main").style.marginLeft = "250px";
                document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
            }

            /* Set the width of the side navigation to 0 and the left margin of the page content to 0, and the background color of body to white */
            function closeNav() {
                document.getElementById("mySidenav").style.width = "0";
                document.getElementById("main").style.marginLeft = "0";
                document.body.style.backgroundColor = "white";
            }
        </script>
        <!-- content begin -->
        <div class="no-bottom no-top" id="content">
            <div id="top"></div>

            <section onclick="closemenu()" id="section-hero" class="vertical-center custom-1 topbackground"
                     data-stellar-background-ratio=".5">
                <div class="container myheadertext">
                    <div class="row">
                        <div class="col-lg-5 offset-lg-7">
                            <h1 class="wow fadeInUp" data-wow-delay=".5s">
                                @ViewBag.CoverTitle
                            </h1>
                            <p class="lead wow fadeInUp" data-wow-delay=".75s">
                                @ViewBag.CoverSubTitle
                            </p>
                            <div class="spacer-20"></div>
                            <a class="btn-custom scroll-to wow fadeInUp" data-wow-delay="1s" href="#section-about">درباره من</a>
                        </div>
                    </div>
                </div>
            </section>

            <section onclick="closemenu() " id="section-about" class="">
                <div class="container py-5 my-3">
                    <div class="row align-items-center">

                        <div class="col-lg-6 mb-sm-30 text-center">
                            <div class="de-images">
                                <img style="width: 700px; height: 100%;" class="img-fluid wow fadeInRight"
                                     src="/Files/GalleryImages/@ViewBag.BiographyImage"@*"/Content/client/images/portfolio/aboutnew.jpeg"*@ alt="" />
                            </div>
                        </div>

                        <div class="col-lg-5 wow fadeInLeft text-justify" data-wow-delay=".5s">
                            <h2>درباره <span class="id-color">من</span></h2>
                            <p class="">
                                @ViewBag.Biography
                                @*سید میلاد مظلوم در سال ۱۳۶۹ خورشیدی در استان گیلان و در شهرستان صومعه سرا چشم به جان گشود
                                او در همان زمان کودکی علاقه زیادی به بازیگری داشت و با هم سن سالهای خود کار نمایش انجام میداد.
                                اون در همان دوران کودکی در مدارس در ایام دهه فجر کارگردانی و بازیگری را بصورت حرفه ای انجام میداد و
                                بیشتر قالب طنز کار میکرد واز این باب
                                مورد علاقه همه افراد مدرسه و معلمان بود.
                                او تا دانشگاه پیش رفت و در بین دو راهی سربازی و دانشگاه قرار گرفت.
                                او بجای ادامه تحصیل خدمت سربازی را برگزید و به خدمت سربازی رفت
                                اون در آنجا هم آرام نبود
                                و دوران خدمت هم بازیگری را ادامه میداد و در تمامیه جشنواره ها حضور گسترده داشت و با هماهنگی مسئولان
                                ذیربط شروع به ساخت کلیپ های ارزشی میکرد
                                که برا همه بسیار لذت بخش بود
                                وی بخاطر داشتن استایل عالی در زمینه مدلینگ هم فعالیت گسترده ای دارد
                                یکی از مهمترین کارهای وی در سال ۱۳۹۶ بود که او در نقش یک مدافع حرم در استان اصفهان با کارگرانی آقای
                                شیرانی
                                بازی کرد
                                این کار به صورت نماهنگی در شبکه های سراسری پخش شد و به همین دلیل وی محبوبیت چشم گیری در فضای مجازی بدست
                                آورد
                                و در جشنواره فیلم فجر در شهرستان صومعه سرا
                                جایزه بهترین فیلم و نماهنگ را به خود اختصاص داد.
                                و در ایام کرونا شروع به ساختن کلیپ( انسانیت )کرد
                                که این کلیپ بخاطر احتکار و نبود ماسک در اوایل کرونا درست شد.
                                این موضوع که با کارگردانی و بازیگری خود او انجام شد موضوع از آنجا شروع شد که
                                او به دارو خانه میرود و از فروشنده درخواست ماسک میکند
                                فروشنده جواب رد به او میدهد
                                و او با عصبانیت کامل از آنجا بیرون می آید
                                در بیرون پدر و پسری را میبیند که باهم صحبت میکند
                                پسر به پدر میگوید بابا من ماسک میخواهم ، پدر جواب میگوید پسرم ماسک نیست و اگر باشد پولم نمی رسد که آن را
                                بخرم.
                                پسر می گوید، پدر اگر ما ماسک نزنیم میمیریم؟؟
                                و پدر با ناراحتی و حالت بغض پسرش را بفل میکند
                                سید با دیدن این صحنه اشک از چشمانش سرازیر می شود .
                                در همان لحظه اون بفکر ساخت ماسک میوفتدو با دوستانش شروع به تولید ماسک رایگان میکند و در اختیار دیگران
                                قرار میدهد.
                                وی الان در شهرستان صومعه سرا و در شهر گوراب زرمیخ ساکن است
                                وی دارای دو فرزند به نام عبدالحسین و فاطمه سادات است و مانند دیگران زندگی معمولی دارد*@
                            </p>
                            <div class="spacer-10"></div>
                            <a href="#section-contact" class="btn-border wow fadeInUp" data-wow-delay="1s">تماس با من</a>
                        </div>

                    </div>

                    <div id="skills" class="row">
                        <div class="spacer-double"></div>
                        <div class="spacer-double"></div>
                        <div class="col-md-4">
                            <div class="skill-bar style-2">
                                <h5>Design</h5>
                                <div class="de-progress">
                                    <div class="value"></div>
                                    <div class="progress-bar" data-value="80%"></div>
                                </div>
                            </div>

                            <div class="skill-bar style-2">
                                <h5>Branding</h5>
                                <div class="de-progress">
                                    <div class="value"></div>
                                    <div class="progress-bar" data-value="70%"></div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="skill-bar style-2">
                                <h5>Marketing</h5>
                                <div class="de-progress">
                                    <div class="value"></div>
                                    <div class="progress-bar" data-value="70%"></div>
                                </div>
                            </div>

                            <div class="skill-bar style-2">
                                <h5>Development</h5>
                                <div class="de-progress">
                                    <div class="value"></div>
                                    <div class="progress-bar" data-value="90%"></div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="skill-bar style-2">
                                <h5>Photography</h5>
                                <div class="de-progress">
                                    <div class="value"></div>
                                    <div class="progress-bar" data-value="90%"></div>
                                </div>
                            </div>

                            <div class="skill-bar style-2">
                                <h5>SEO</h5>
                                <div class="de-progress">
                                    <div class="value"></div>
                                    <div class="progress-bar" data-value="75%"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>



            <!-- section begin -->
            <!-- section close -->
            <!-- section begin -->
            <section onclick="closemenu() " id="section-portfolio" class="">
                <div class="container py-5 my-3">
                    <!-- portfolio filter begin -->
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <h2>گالری</h2>
                        </div>

                        <div class="spacer-single"></div>

                        <div class="col-md-12 text-center">
                            <ul id="filters">
                                <li>
                                    <a href="#" data-filter="*" class="selected">همه</a>
                                </li>
                                @foreach (var category in ViewBag.Categories)
                                {
                                    <li><a href="#" data-filter=".modeling">category.Title</a></li>
                                }
                                <li><a href="#" data-filter=".modeling">مدلینگ</a></li>
                                <li><a href="#" data-filter=".film">بازیگری</a></li>
                                <li><a href="#" data-filter=".mazhabi">مذهبی</a></li>
                                <!-- <li><a href="#" data-filter=".website">شهادت</a></li> -->
                            </ul>

                            <div id="gallery" class="gallery full-gallery de-gallery pf_full_width pf_3_cols grid sequence">
                                <!-- gallery item -->
                                <div class="item all gallery-item " data-value="#">
                                    <div class="picframe wow">
                                        <span class="overlay">
                                            <span class="pf_text">
                                                <span class="project-name"></span>
                                            </span>
                                        </span>
                                        <img src="/Content/client/images/portfolio/1.jfif" alt="" />
                                    </div>
                                </div>
                                <div class="item all gallery-item " data-value="#">
                                    <div class="picframe wow">
                                        <span class="overlay">
                                            <span class="pf_text">
                                                <span class="project-name"></span>
                                            </span>
                                        </span>
                                        <img src="/Content/client/images/portfolio/2.jfif" alt="" />
                                    </div>
                                </div>
                                <div class="item all gallery-item " data-value="#">
                                    <div class="picframe wow">
                                        <span class="overlay">
                                            <span class="pf_text">
                                                <span class="project-name"></span>
                                            </span>
                                        </span>
                                        <img src="/Content/client/images/portfolio/3.jfif" alt="" />
                                    </div>
                                </div>
                                <div class="item all gallery-item " data-value="#">
                                    <div class="picframe wow">
                                        <span class="overlay">
                                            <span class="pf_text">
                                                <span class="project-name"></span>
                                            </span>
                                        </span>
                                        <img src="/Content/client/images/portfolio/4.jfif" alt="" />
                                    </div>
                                </div>
                                <div class="item all gallery-item " data-value="#">
                                    <div class="picframe wow">
                                        <span class="overlay">
                                            <span class="pf_text">
                                                <span class="project-name"></span>
                                            </span>
                                        </span>
                                        <img src="/Content/client/images/portfolio/5.jfif" alt="" />
                                    </div>
                                </div>
                                <div class="item modeling gallery-item " data-value="#">
                                    <div class="picframe wow">
                                        <span class="overlay">
                                            <span class="pf_text">
                                                <span class="project-name"></span>
                                            </span>
                                        </span>
                                        <img src="/Content/client/images/portfolio/6.jfif" alt="" />
                                    </div>
                                </div>
                                <div class="item modeling gallery-item " data-value="#">
                                    <div class="picframe wow">
                                        <span class="overlay">
                                            <span class="pf_text">
                                                <span class="project-name"></span>
                                            </span>
                                        </span>
                                        <img src="/Content/client/images/portfolio/7.jfif" alt="" />
                                    </div>
                                </div>
                                <div class="item modeling gallery-item " data-value="#">
                                    <div class="picframe wow">
                                        <span class="overlay">
                                            <span class="pf_text">
                                                <span class="project-name"></span>
                                            </span>
                                        </span>
                                        <img src="/Content/client/images/portfolio/8.jfif" alt="" />
                                    </div>
                                </div>
                                <div class="item modeling gallery-item " data-value="#">
                                    <div class="picframe wow">
                                        <span class="overlay">
                                            <span class="pf_text">
                                                <span class="project-name"></span>
                                            </span>
                                        </span>
                                        <img src="/Content/client/images/portfolio/9.jfif" alt="" />
                                    </div>
                                </div>
                                <div class="item modeling gallery-item " data-value="#">
                                    <div class="picframe wow">
                                        <span class="overlay">
                                            <span class="pf_text">
                                                <span class="project-name"></span>
                                            </span>
                                        </span>
                                        <img src="/Content/client/images/portfolio/10.jfif" alt="" />
                                    </div>
                                </div>
                                <div class="item film gallery-item " data-value="#">
                                    <div class="picframe wow">
                                        <span class="overlay">
                                            <span class="pf_text">
                                                <span class="project-name"></span>
                                            </span>
                                        </span>
                                        <img src="/Content/client/images/portfolio/11.jfif" alt="" />
                                    </div>
                                </div>
                                <div class="item film gallery-item " data-value="#">
                                    <div class="picframe wow">
                                        <span class="overlay">
                                            <span class="pf_text">
                                                <span class="project-name"></span>
                                            </span>
                                        </span>
                                        <img src="/Content/client/images/portfolio/12.jfif" alt="" />
                                    </div>
                                </div>
                                <div class="item film gallery-item " data-value="#">
                                    <div class="picframe wow">
                                        <span class="overlay">
                                            <span class="pf_text">
                                                <span class="project-name"></span>
                                            </span>
                                        </span>
                                        <img src="/Content/client/images/portfolio/13.jfif" alt="" />
                                    </div>
                                </div>
                                <div class="item film gallery-item " data-value="#">
                                    <div class="picframe wow">
                                        <span class="overlay">
                                            <span class="pf_text">
                                                <span class="project-name"></span>
                                            </span>
                                        </span>
                                        <img src="/Content/client/images/portfolio/14.jfif" alt="" />
                                    </div>
                                </div>
                                <div class="item film gallery-item " data-value="#">
                                    <div class="picframe wow">
                                        <span class="overlay">
                                            <span class="pf_text">
                                                <span class="project-name"></span>
                                            </span>
                                        </span>
                                        <img src="/Content/client/images/portfolio/15.jfif" alt="" />
                                    </div>
                                </div>
                                <div class="item mazhabi gallery-item " data-value="#">
                                    <div class="picframe wow">
                                        <span class="overlay">
                                            <span class="pf_text">
                                                <span class="project-name"></span>
                                            </span>
                                        </span>
                                        <img src="/Content/client/images/portfolio/16.jfif" alt="" />
                                    </div>
                                </div>
                                <div class="item mazhabi gallery-item " data-value="#">
                                    <div class="picframe wow">
                                        <span class="overlay">
                                            <span class="pf_text">
                                                <span class="project-name"></span>
                                            </span>
                                        </span>
                                        <img src="/Content/client/images/portfolio/17.jfif" alt="" />
                                    </div>
                                </div>
                                <div class="item mazhabi gallery-item " data-value="#">
                                    <div class="picframe wow">
                                        <span class="overlay">
                                            <span class="pf_text">
                                                <span class="project-name"></span>
                                            </span>
                                        </span>
                                        <img src="/Content/client/images/portfolio/18.jfif" alt="" />
                                    </div>
                                </div>
                                <div class="item mazhabi gallery-item " data-value="#">
                                    <div class="picframe wow">
                                        <span class="overlay">
                                            <span class="pf_text">
                                                <span class="project-name"></span>
                                            </span>
                                        </span>
                                        <img src="/Content/client/images/portfolio/19.jfif" alt="" />
                                    </div>
                                </div>
                                <div class="item mazhabi gallery-item " data-value="#">
                                    <div class="picframe wow">
                                        <span class="overlay">
                                            <span class="pf_text">
                                                <span class="project-name"></span>
                                            </span>
                                        </span>
                                        <img src="/Content/client/images/portfolio/20.jfif" alt="" />
                                    </div>
                                </div>
                                <!-- close gallery item -->
                            </div>
                            <!-- portfolio filter close -->
                        </div>
                    </div>
                </div>
            </section>
            <!-- section close -->

            <div id="loader-area">
                <div class="container">
                    <div class="project-load"></div>
                </div>
            </div>


            <video width="100%" height="100%" controls>
                <source src="/Content/client/images/portfolio/bazigari.mp4">
            </video>

            <section onclick="closemenu() " id="section-blog" class="text-light" data-bgcolor="#008477">
                <div class="container  py-5 my-3">
                    <div class="row">
                        <div class="col-lg-6 offset-lg-3">
                            <div class="text-center">
                                <h2>ویژگی ها</h2>
                                <div class="spacer-30"></div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-4 col-md-6 mb30">
                            <div class="bloglist item">
                                <div class="post-content">
                                    <div class="post-image">
                                        <img width="400px" height="400px" alt="archive" src="/Content/client/images/portfolio/copy (2).jfif" />
                                        <div class="post-info">
                                            <div class="inner text-center">
                                                <span class="post-author">تکیه بر تجارب گذشته</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="post-text">
                                        <h4><a href="#">تکیه بر تجارب گذشته</a></h4>
                                        <p>
                                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت
                                            چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون
                                            بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و
                                            برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با
                                            هدف بهبود ابزارهای کاربردی می باشد.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 mb30">
                            <div class="bloglist item">
                                <div class="post-content">
                                    <div class="post-image">
                                        <img width="400px" height="400px" alt="archive" src="/Content/client/images/portfolio/copy (1).jfif" />
                                        <div class="post-info">
                                            <div class="inner text-center">
                                                <span class="post-author">نیم نگاهی به آینده</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="post-text">
                                        <h4><a href="#"> نیم نگاهی به آینده</a></h4>
                                        <p>
                                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت
                                            چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون
                                            بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و
                                            برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با
                                            هدف بهبود ابزارهای کاربردی می باشد.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 mb30">
                            <div class="bloglist item">
                                <div class="post-content">
                                    <div class="post-image">
                                        <img width="400px" height="400px" alt="archive" src="/Content/client/images/portfolio/copy (3).jfif" />
                                        <div class="post-info">
                                            <div class="inner text-center">
                                                <span class="post-author ">ثابت قدم در راه اخلاص</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="post-text">
                                        <h4><a href="#">ثابت قدم در راه اخلاص</a></h4>
                                        <p>
                                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت
                                            چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون
                                            بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و
                                            برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با
                                            هدف بهبود ابزارهای کاربردی می باشد.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- section begin -->
            <section onclick="closemenu() " id="section-contact" class="no-bg ">
                <div class="container py-5 my-3">
                    <div class="row">
                        <div class="col-lg-6 offset-lg-3">
                            <div class="text-center">
                                <h2>تماس با من</h2>
                                <p>
                                    شما میتوانید با من تماس داشته باشید.
                                </p>
                                <div class="spacer-30"></div>
                            </div>
                        </div>
                    </div>

                    <form name="contactForm" id="contact_form" class="row form-default" method="post" action="email.php">
                        <div class="col-md-6">
                            <div class="field-set">
                                <input type="text" name="name" id="name" class="form-control" placeholder="نام" />
                                <div class="line-fx"></div>
                            </div>

                            <div class="field-set">
                                <input type="text" name="email" id="email" class="form-control" placeholder="ایمیل" />
                                <div class="line-fx"></div>
                            </div>

                            <div class="field-set">
                                <input type="text" name="phone" id="phone" class="form-control" placeholder="شماره تلفن" />
                                <div class="line-fx"></div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="field-set">
                                <textarea name="message" id="message" class="form-control" placeholder="متن پیام"></textarea>
                                <div class="line-fx"></div>
                            </div>
                        </div>

                        <div class="spacer-single"></div>

                        <div class="col-md-12 text-center">
                            <div id="submit">
                                <input type="submit" id="send_message" value="ارسال" class="btn btn-custom color-2" />
                            </div>
                            <div id="mail_success" class="success">
                                پیام شما با موفقیت ارسال شد.
                            </div>
                            <div id="mail_fail" class="error">
                                متاسفانه در ارسال پیام خطایی رخ داده است.
                            </div>
                        </div>
                    </form>

                    <div class="spacer-double"></div>

                    <div class="row text-center wow fadeInUp">
                        <div class="col-md-4">
                            <div class="wm-1"></div>
                            <i class="icon_mobile id-color size40 mb20"></i>
                            <h6 class="id-color">تلفن</h6>
                            <p>091165657677</p>
                        </div>

                        <div class="col-md-4">
                            <div class="wm-1"></div>
                            <i class="icon_house_alt id-color size40 mb20"></i>
                            <h6 class="id-color">آدرس </h6>
                            <p>گیلان</p>
                        </div>

                        <div class="col-md-4">
                            <div class="wm-1"></div>
                            <i class="icon_mail_alt id-color size40 mb20"></i>
                            <h6 class="id-color">ایمیل </h6>
                            <p>contact@email.com</p>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <!-- content close -->
        <!-- footer begin -->
        <footer onclick="closemenu() " class="footer">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-6 sm-text-center mb-sm-30">
                        تمامی حقوق برای وب سایت <a class="text-success" href="https://spad.co">اسپاد</a> محفوظ است.
                    </div>

                    <div class="col-md-6 text-md-right text-sm-left">
                        <div class="social-icons">
                            <a href="#"><i class="fa fa-facebook fa-lg"></i></a>
                            <a href="#"><i class="fa fa-twitter fa-lg"></i></a>
                            <a href="#"><i class="fa fa-linkedin fa-lg"></i></a>
                            <a href="#"><i class="fa fa-google-plus fa-lg"></i></a>
                            <a href="#"><i class="fa fa-rss fa-lg"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- footer close -->

        <a href="#" id="back-to-top"></a>

        <div id="preloader">
            <div class="spinner">
                <div class="bounce1"></div>
                <div class="bounce2"></div>
                <div class="bounce3"></div>
            </div>
        </div>
    </div>

    <!-- Javascript Files
    ================================================== -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script src="/Content/client/js/jquery.min.js"></script>
    <script src="/Content/client/js/bootstrap.min.js"></script>
    <script src="/Content/client/js/wow.min.js"></script>
    <script src="/Content/client/js/jquery.isotope.min.js"></script>
    <script src="/Content/client/js/easing.js"></script>
    <script src="/Content/client/js/owl.carousel.js"></script>
    <script src="/Content/client/js/validation.js"></script>
    <script src="/Content/client/js/jquery.magnific-popup.min.js"></script>
    <script src="/Content/client/js/enquire.min.js"></script>
    <script src="/Content/client/js/jquery.stellar.min.js"></script>
    <script src="/Content/client/js/jquery.plugin.js"></script>
    <script src="/Content/client/js/typed.js"></script>
    <script src="/Content/client/js/jquery.countTo.js"></script>
    <script src="/Content/client/js/jquery.countdown.js"></script>
    <script src="/Content/client/js/designesia.js"></script>
    <script>

        // $(window).click(function () {
        //   setInterval(() => {
        //     if (document.getElementById("mySidenav").style.width = '250px') {

        //       document.getElementById("mySidenav").style.width = "0";
        //     }
        //   }, 2000);
        // });

        // $('#mySidenav').click(function (event) {
        //   event.stopPropagation();
        // });
        function closemenu() {

            if (document.getElementById("mySidenav").style.width = '250px') {

                document.getElementById("mySidenav").style.width = "0";
            }
        }
    </script>

</body>

</html>
